
$primary-color: #272727;
$secondary-color: #ff652f;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
$grayscale:(
      "100": #EEF1F4,
      "200": #DFE3E7,
      "300": #CBCFD2,
      "400": #B3B6B9,
      "500": #9CA0A3,
      "600": #7C7F82,
      "700": #606365,
      "800": #4A4C4F,
      "900": #333536,
);

@each $num, $color in $grayscale {
  .p--#{$num}{
    color: $color;
  }
}
